.grid-outer-container{
    width: 70%;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
padding: 20px;
text-align: center;
}


.item-image{
    height: 200px;
    margin: 25px 0px;
}

.price-tag{
    padding: 10px;
    color: rgb(210,73,69);
    font-weight: 600;
}

.product_name{
    min-height: 30px;
    color: rgb(97,116,132);
}
.packing{
    color: rgb(210,73,69);
    font-size: 13px;
    font-family: afta-italy;
    margin: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-btn{
    margin: 10px;
    cursor: pointer;
}

.search-box{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0px 10px;
    outline: none;
    border: none;
    padding: 10px;
    display: flex;
}

.submit{
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
}