body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'afta';
  src: local('afta'), url(./Fonts/afta-serif/AftaSerifThin-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'afta-italy';
  src: local('afta-italy'), url(./Fonts/afta-serif/AftaSerifThin-Italic.otf) format('truetype');
}
